<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content  padding fullscreen>
  <ion-slides class="fontCarrusel">
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide3.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide4.jpg"></ion-img>
    </ion-slide>

  </ion-slides>



  <ion-grid fixed>

<ion-row>
      <ion-col 
            size-lg="3" 
                size-md="4" 
                size-sm="6" 
                size-xm="12"
       *ngFor="let c of Servicios; let i = index">
          
          <ion-card>
              <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
          <ion-card-header>
              <ion-card-subtitle>{{c.title}}</ion-card-subtitle>
              
            </ion-card-header>    
                <ion-card-content>
                  <!-- <p>
                    {{c.title}}
                  </p> -->
                  <p>
                    {{c.tiempo}}
                  </p>
                  <p>
                    {{c.costo}}
                  </p>
                </ion-card-content>
          </ion-card>

      </ion-col>
  </ion-row>


</ion-grid>


</ion-content>
