<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide3.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide4.jpg"></ion-img>
    </ion-slide>

  </ion-slides>


</ion-content>
