<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content  padding fullscreen color="dark" >
  <ion-slides class="fontCarrusel">
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide3.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/slidefotos/slide4.jpg"></ion-img>
    </ion-slide>

  </ion-slides>

  <ion-item 
          color="dark2"
          class="action-dark" >
    <ion-label 
           class="action-dark"
           >{{ MensajeUser }}</ion-label>
  </ion-item>
  


<!-- 
  <ion-grid fixed 
            class="action-dark" > -->

<ion-row color="dark2" >
      <ion-col    size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let c of Servicios; let i = index">
          
          <ion-card color="dark" class="ion-padding">
            
            
            <ion-item color="dark">
              <ion-avatar>
                <img src="../../assets/icons_app/scissors_img1.jpg">
              </ion-avatar>
            <ion-icon slot="end" 
                      name="ellipsis-vertical-outline"
                      (click)="lanzarMenu(i)"
                      ></ion-icon>
            </ion-item>

          <ion-card-header>
            <ion-card-subtitle class="text-primary">{{c.title}}</ion-card-subtitle>
          </ion-card-header>    
                <ion-card-content>
                  <!-- <p>
                    {{c.title}}
                  </p> -->
                  <p>
                    {{c.tiempo}}
                  </p>
                  <p>
                    {{c.costo}}
                  </p>
                </ion-card-content>
          </ion-card>

      </ion-col>
  </ion-row>


<!-- </ion-grid> -->


</ion-content>
